
#main{
    display: flex;
    text-align: center;
    padding-top: 10%;
    display: flex;
    min-height: 100vh;
}
h1.hi{
    font-size: 60px;
    font-weight: bold;
}
h1.name{
    font-size: 60px;
    color: #AC2CF0;
    font-weight: bold;
}
#aboutme{
    background-color: #2F28C5;
    display: flex;
    min-height: 75vh;
    width:100%;
    color: #ffffff;
    clip-path: polygon(50%);

}
#mypic{
    max-width: 100%;
    width: 300px;
    height: auto;
    vertical-align: middle;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.275);
}
.data{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 4%;
    padding-top: 1%;
}
.student{
    text-align: left;
    font-size: 20px;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
}
.points-about{

}
#skilled{
    padding-bottom: 5%;
}
.skilling{
    color: solid black;
    font-size: 40px;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.s1-light-grey{
    color: #000;
    background-color: #f1f1f1;
}
.s1-pink{
    color: #ffffff;
    background-color: #e91e63;
}
.s1-blue{
    color: #ffffff;
    background-color: #3847E5;
}
.s1-purple{
    color: #ffffff;
    background-color: #DD21D4;
}
.s1-green{
    color: #ffffff;
    background-color: #68F020;
}
.s1-round-xlarge{
    border-radius:10px;
}
.s1-center{
    text-align: center;
}
label{
    margin: 1rem;
    display: inline-flex;
}
#contact-me{
    background-color: #2F28C5;
    color: #ffffff;
    display: flex;
    min-height: 60vh;
}
#data-me{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 3%;
    padding-top: 4%;
}
.connect-via{
    text-align: center;
    font-size: 30px;
    padding-top: 3%
}
.btn-outline-light{
    text-align: center;
    font-size: 25px;
}
#contact-me-o{
    background-color: #2A2D2D;
    display: flex;
    min-height: 40vh;
}

.icon{
    text-align: center;
    padding-top: 3%;
    font-size: 30px;
}
.to-top{
    
}
#to-top{
    text-align: center;
    padding-top: 3%;
    color: #ffffff;
    margin: 1rem 0 1.6rem;
}
.fa-2x{
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}
.fa {
    padding: 10px;
    font-size: 50px;
    width: 50px;
    text-align: center;
}
.fa-linkedin {
    background: #2A2D2D;
    color: #ffffff;
}

.fa-instagram {
    background: #2A2D2D;
    color: #ffffff;
}
.fa-facebook {
    background: #2A2D2D;
    color: #ffffff;
}
.fa-github {
    background: #2A2D2D;
    color: #ffffff;
}
.fa-whatsapp {
    background: #2A2D2D;
    color: #ffffff;
}
.copyright{
    position: center;
    color: #7C7C79;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px;
    position: bottom;
    font-size: .8rem;
}
.linking{
    position: : center;
    color: #7C7C79;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px;
    position: bottom;
    font-size: .8rem;
}
#project-header{
    color: solid black;
    font-size: 40px;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.project-note{
    padding-top: 5%;
    margin-bottom: 3;
}
.project-img{
    width: 100%;
    height: 350px;
    vertical-align: middle;
    margin-bottom: 8px;
}
.project-para{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 20px;
    font-family: Roboto Slab;
}
.project-para-head{
    font-family: Balsamiq Sans;
    font-size: 40px;
}
.btn-outline-primary{
    background-color:  #2F28C5;
    color: #ffffff;
     font-family: Balsamiq Sans;
}
#myeducation{
    max-width: 100%;
    width: 100%;
    height: auto;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.275);
    display: flex;
    padding-bottom: 5%;
}
#Qualification{
    background: #2F28C5;
    width: 100%;
    height: auto;
    text-align: : center;
    padding-top: 3%;
    min-height: 45vh;
    display: flex;
}
.table {
    border-collapse: collapse;
    border-color: #ffffff;
    width: 100%;
    font-size: 20px;
    display: flex;
    overflow-x: auto;
}

.td, .th {
    border: 5px solid #2F28C5;
    padding: 12px;
}

.td{
    font-family: "Times New Roman";
    font-size: 22px;
}

.tr {background-color: #ffffff;}

.th {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
